<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="settings" type="backup_manager.Settings.SettingsConfiguration, backup-manager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
				 allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" requirePermission="true" />
	</configSections>
	<settings>
		<objectsToCheck loggerPath="D:\Projects\backup-manager\bin\Debug\net8.0\Logs">
			<!-- HP -->
			<device ip="10.10.102.1" name="HPE 5710 24XGT 6QS+/2QS28 Switch" sn="CN07KPQ00P" backupCmdType="hp" loginId="1"/>
			<device ip="mog-n2-dsw1" name="HP 2910al-24G-PoE Switch (J9146A)" sn="SG226IQHGP" backupCmdType="hp_shell" loginId="2"/>
		</objectsToCheck>
		<backupPaths sftpTempFolder="">
			<path path="D:\Projects\backup-manager\test"></path>
		</backupPaths>
		<emails loginId="1" sendEmail="true" smtpServer="smtp.office365.com" mailFrom="logs@novusbel.by">
			<email mail="konstantsin.skoibeda@novusbel.by" subject="Low disk space alert!" />
		</emails>
		<logins lockItem="true">
			<login id="1" loginData="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAGkTeiB5o1ka2X443jUpw9wAAAAACAAAAAAADZgAAwAAAABAAAADNR0WBw39s1NluO0CpIvfFAAAAAASAAACgAAAAEAAAAH10UX/lj0lpTgcz18c4m3MQAAAAXWPORKORYANH1lH/KnAwGhQAAABAPgI2oU0eygkIfjbVYetnfvalxw=="
			 loginSalt="o8Ws7AP2yj4XcMl355cCsVLW1l94KTbyX6Novj8YFz5x3q4Vwpy7dkbc5dA/CzjWmN2rLpYv2+ozsfaL2hL02J+3TUda15vdlIv/i6vRvMadVEbyYP8kQc+PZANnO9BlSrKQ16vUY4u22EuziFiW7Ilsj25P0/1TUPvQEIKbkmGzHxb/vjga8BuQVC7+KmassQdA11KrHhiFnh8Klz4ZeZ/ROvrigBy5nU/Ha4AETsNVESmtluFXS/YMNFqlovIGI9k3cCaN5EMdrcyUZgys9OYYfpSCaFqU6Ui/L40R+ze28K/pGEK8T6jtsOd6F20LHWCqTWzZqAJjigFavhPk3Q=="
			 passData="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAGkTeiB5o1ka2X443jUpw9wAAAAACAAAAAAADZgAAwAAAABAAAADDgVsW2fqCRc0qtQXsnEdqAAAAAASAAACgAAAAEAAAAP8M6ENU9snQDmmDiJwUhkcYAAAAm4uR11yBCzrulZ1smUF6QPSRklX7+cfzFAAAAGcYII+UbXZhxRzws5UGCAvyc8GR"
			 passSalt="doZ0zfLUhu0etNGPkXfyndUob818ZvHyuHcnKnZsFSD5KMU+FOgKpyw5irxQnC2M0q6KJYGOuFYuYWMswxosrIgLtcY+6pdFgaz1m3Gwddgy0iYUWugIG6unVDIZCEg4j+gxBixwERziuoGdF+moBx/PcL17chBTTlDrHvthZeHjFB6pBZ7OCiGjdmm2OWhKSBn5/F1+CkZYi50wttxQj8HjY3TefMPkTFI+iJzybk/DGSN9r9F33K5mTzq9ef7Hfhx4wCv1ZnJ+9qns2zDBs6zQaFGOToVSprxEX/wH+TLiNhxyqs8vqe8Gv3LQWlg32M8QtzNG67sT1hYmLtacyA==" />
			<login id="2" loginData="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAGkTeiB5o1ka2X443jUpw9wAAAAACAAAAAAADZgAAwAAAABAAAABKekKl0D0e0J4N4ffA+V16AAAAAASAAACgAAAAEAAAAKb7ql0T1e9r6jCx8aEIFdsQAAAAdtl5AhXepvasGzqmo0VzjRQAAADNgv24jFW7Vhft5HZb5S02rfDeMw=="
			 loginSalt="sXrsQI3SM64vWXd0M+8Y8DbVogKcCGvRZY812yzIC2s3iYGfhE1Nt8ocpCzVlOA5LcY6QhkU1rv1xpLrJ01xG90NYGYHc2V4Fd3rMXgnZRp7wO6dpX5uttwneRFvCqv84ZUokCCPbJ9X5nCF3i0gH8Ed1cdIxRPfaZAY+7IUgEW1Gh/5o6CC9RHmSre7K99sHXZk8cHd1VRTf2dHqDD3Ual86XK8mKQ9+xMmSZsn1QYSsZ1/lwKUv27BhYoYIIYrKJ48Th3MOm/7kyqI3bointniC04hfffKPIGT438IObfcIihZYcbuertu6CZojtLviqqE5ksx/1u+wh30xSx7UA=="
			 passData="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAGkTeiB5o1ka2X443jUpw9wAAAAACAAAAAAADZgAAwAAAABAAAAC4jiz3bpQmOg4Su5KAi7n0AAAAAASAAACgAAAAEAAAAHcRPfBx1e7kG4fDzhlXzNYYAAAAjTIVHx4sez+FiWxpL5SsaOEGDMIRngMxFAAAAE4Icmv4xr5GOfpcJVgelpJ3+edu"
			 passSalt="uNVU/BXgmCmTggHNwgQeGbZi8/XFjdw8/kbzdxhAe+OSfPFN0UwNij+y7vWKTsYOCRuXCmmRRL5k6t7T78QHcg2Gx7IqoqGVofbjC92JPzAu8dhNiXwrdpILXtbtFdlEQuVbKnaz8gfoeMK9rlmpsC5hsLPYLi/qECNEA89Wf6VnW6FA2UuLIFdyDXzdHrTEA9yH53bdi21qIYdTu4sa5x5YzEUtTHzk/JfrS8Obxv0+992cb5MUDANbVZgqzkXG7eUxJWZqk+TNgpwNQrEfNWtaEEH61rBdTsMtqYnU2HrcbZb9WaN5BY80766mL7ypH74rrXLe11IpQoUVu1Mnog==" />
		</logins>
	</settings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>