<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="settings" type="backup_manager.Settings.SettingsConfiguration, backup-manager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" 
				 allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" requirePermission="true" />
	</configSections>
	<settings>
		<objectsToCheck loggerPath="D:\Projects\backup-manager\bin\Debug\net8.0\Logs">
			<!-- HP -->
			<device ip="10.10.102.1" name="HPE 5710 24XGT 6QS+/2QS28 Switch" sn="CN07KPQ00P" backupCmdType="hp" loginId="2"/>
			<device ip="10.10.103.1" name="test" sn="CN07KPQ00P" backupCmdType="hp" loginId="2"/>
			<device ip="10.10.102.2" name="test" sn="CN07KPQ00P" backupCmdType="hp"/>
			<device ip="10.10.102.3" name="test" sn="CN07KPQ00P"/>
			<device ip="10.10.102.4" name="test" loginId="1" sn="CN07KPQ00P"/>
		</objectsToCheck>
		<backupPaths sftpTempFolder="">
			<path path="D:\Projects\backup-manager\test"></path>
		</backupPaths>
		<emails loginId="1" sendEmail="true" smtpServer="smtp.office365.com" mailFrom="logs@novusbel.by">
			<email mail="konstantsin.skoibeda@novusbel.by" subject="Low disk space alert!" />
		</emails>
		<logins>
			<login id="1" loginData="asd" loginSalt="gfd" passData="dgf" passSalt="gfd"/>
		</logins>
	</settings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>