<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="settings" type="backup-manager.Settings.SettingsConfiguration, backup-manager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" requirePermission="true" />
	</configSections>
	<settings>
		<objectsToCheck loggerPath="\\mog-adm-app\Logs\free-space-checker">
			<!-- HP -->
			<device ip="10.10.102.1" name="test" backupCmdType="hp" loginId="2"/>
		</objectsToCheck>
		<emails loginId="1" sendEmail="true" smtpServer="smtp.office365.com" mailFrom="logs@novusbel.by">
			<email mail="konstantsin.skoibeda@novusbel.by" subject="Low disk space alert!" />
		</emails>
		<logins>
			<login id="1"
				  loginData="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUMEhv47C1kGH5SR5kH4rYAAAAAACAAAAAAADZgAAwAAAABAAAACDfwkZAl3osUeDXxRDlhluAAAAAASAAACgAAAAEAAAAByL8tyH4eNvnr2LdqAH7QUwAAAAYyo1GsoYOgnpvxTPpyvbhNLs3XrkMB3CU7EFTxWtKwKd1lISBskxEqop6E6XjSdhFAAAAKSLlIqKnwOkR73UqYOTDz2oTpAH"
				  loginSalt="0qCRfn2EGhys1cL7h/RmVXQ5PVcpOp8ZWvsr7O+4iY/SfvaFw9P2fVTjWdl2VtCbfKOPzelk6nyap7s49maGc1e9orOjFqXFzqBofC1CeD2WruGKduq9I2Z4pZbMgiGOTqdv73/ay7kRNQbdlbNrbtb2xQyBHn9KGkRiBrtjL2/K7P+D5HRI57KFKvOid2qKa1HvjcTk5If8AWtfLx6YLuZq/WAvTQ2iEylcybyMj2Kuq2i1Gmx5jnpTkUIWKvMo0Of62T8pvonhyxikP5QE+TNZwevnfARyf9ykwBa4W5ZS8sx2ZUQku8jbAWknNPvbDP5wpL8Ssd2XoooKG54aVA=="
				  passData="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUMEhv47C1kGH5SR5kH4rYAAAAAACAAAAAAADZgAAwAAAABAAAAA8viv0CA7X9ncMVwQ31CB0AAAAAASAAACgAAAAEAAAAJUaQGn5lITNRG2cKKkK0nggAAAAr47jz2lTgHlst74VRfu952cqWH+qbH6UOBrd+jvqZtgUAAAAD2Y9ODZ4Y53DHuvlP7onKqtPgIk="
				  passSalt="MmGZtcdWCorZ22fkK1u01Y/wITX7a/WDrTCH+JSD7HyG2msdRTVaoU5fpXM0QPaFaZ7ai5l82Rw1hMmAbANLiV2DBFwfzyiBLsKuNKz8QdVE4yqqmvcC+fWE+fFhrupY1/1khCS8o1i4xwe0QM382j41uJEjzdje4CeohDO3tAabN3wEl+B7DwzpTzKq8lRrp96t5SQ182fOpY3/99T91ORqh3K0U7oiYSoSfQJEVYZ0Vxh+mqYe9DzDA6aY3IrkeafGDBgd4NBN5v3fCa9xzHGC0Nxf6G5kQlNW8NRgpvzhxHDEhTuC2aM0+7zpzxk+kDyBS3whs59ItqDqb+A1eQ=="/>
			<login id="2"
				  loginData="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUMEhv47C1kGH5SR5kH4rYAAAAAACAAAAAAADZgAAwAAAABAAAACDfwkZAl3osUeDXxRDlhluAAAAAASAAACgAAAAEAAAAByL8tyH4eNvnr2LdqAH7QUwAAAAYyo1GsoYOgnpvxTPpyvbhNLs3XrkMB3CU7EFTxWtKwKd1lISBskxEqop6E6XjSdhFAAAAKSLlIqKnwOkR73UqYOTDz2oTpAH"
				  loginSalt="0qCRfn2EGhys1cL7h/RmVXQ5PVcpOp8ZWvsr7O+4iY/SfvaFw9P2fVTjWdl2VtCbfKOPzelk6nyap7s49maGc1e9orOjFqXFzqBofC1CeD2WruGKduq9I2Z4pZbMgiGOTqdv73/ay7kRNQbdlbNrbtb2xQyBHn9KGkRiBrtjL2/K7P+D5HRI57KFKvOid2qKa1HvjcTk5If8AWtfLx6YLuZq/WAvTQ2iEylcybyMj2Kuq2i1Gmx5jnpTkUIWKvMo0Of62T8pvonhyxikP5QE+TNZwevnfARyf9ykwBa4W5ZS8sx2ZUQku8jbAWknNPvbDP5wpL8Ssd2XoooKG54aVA=="
				  passData="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAUMEhv47C1kGH5SR5kH4rYAAAAAACAAAAAAADZgAAwAAAABAAAAA8viv0CA7X9ncMVwQ31CB0AAAAAASAAACgAAAAEAAAAJUaQGn5lITNRG2cKKkK0nggAAAAr47jz2lTgHlst74VRfu952cqWH+qbH6UOBrd+jvqZtgUAAAAD2Y9ODZ4Y53DHuvlP7onKqtPgIk="
				  passSalt="MmGZtcdWCorZ22fkK1u01Y/wITX7a/WDrTCH+JSD7HyG2msdRTVaoU5fpXM0QPaFaZ7ai5l82Rw1hMmAbANLiV2DBFwfzyiBLsKuNKz8QdVE4yqqmvcC+fWE+fFhrupY1/1khCS8o1i4xwe0QM382j41uJEjzdje4CeohDO3tAabN3wEl+B7DwzpTzKq8lRrp96t5SQ182fOpY3/99T91ORqh3K0U7oiYSoSfQJEVYZ0Vxh+mqYe9DzDA6aY3IrkeafGDBgd4NBN5v3fCa9xzHGC0Nxf6G5kQlNW8NRgpvzhxHDEhTuC2aM0+7zpzxk+kDyBS3whs59ItqDqb+A1eQ=="/>
		</logins>
	</settings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>